@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?2k48es');
  src:  url('../fonts/icomoon.eot?2k48es#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?2k48es') format('truetype'),
    url('../fonts/icomoon.woff?2k48es') format('woff'),
    url('../fonts/icomoon.svg?2k48es#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
  content: "\e9bd";
}
.icon-google-plus3:before {
  content: "\ea8d";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-telegram:before {
  content: "\ea95";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-pinterest:before {
  content: "\ead1";
}
